System Volume Information/*
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.idea
*.iml

/EFI/APPLE
/EFI/Microsoft
EFI/._BOOT
EFI/._CLOVER
EFI/BOOT/._.DS_Store
EFI/BOOT/.empty
EFI/CLOVER/._.DS_Store
EFI/CLOVER/._ACPI
EFI/CLOVER/._config.plist
EFI/CLOVER/._kexts
EFI/CLOVER/._themes
EFI/CLOVER/ACPI/._.DS_Store
EFI/CLOVER/ACPI/._patched
EFI/CLOVER/ACPI/patched/._SSDT-EC.aml
EFI/CLOVER/ACPI/patched/._SSDT-PNLF.dsl
EFI/CLOVER/ACPI/patched/._SSDT-PluginType1.aml
EFI/CLOVER/kexts/._.DS_Store
EFI/CLOVER/kexts/._Other
EFI/CLOVER/kexts/Other/._.DS_Store
EFI/CLOVER/kexts/Other/._AirportBrcmFixup.kext
EFI/CLOVER/kexts/Other/._AppleALC.kext
EFI/CLOVER/kexts/Other/._CPUFriend.kext
EFI/CLOVER/kexts/Other/._Lilu.kext
EFI/CLOVER/kexts/Other/._RealtekRTL8111.kext
EFI/CLOVER/kexts/Other/._SMCBatteryManager.kext
EFI/CLOVER/kexts/Other/._SMCProcessor.kext
EFI/CLOVER/kexts/Other/._SMCSuperIO.kext
EFI/CLOVER/kexts/Other/._USBInjectAll.kext
EFI/CLOVER/kexts/Other/._VirtualSMC.kext
EFI/CLOVER/kexts/Other/._VoodooI2C.kext
EFI/CLOVER/kexts/Other/._VoodooI2CAtmelMXT.kext
EFI/CLOVER/kexts/Other/._VoodooI2CELAN.kext
EFI/CLOVER/kexts/Other/._VoodooI2CFTE.kext
EFI/CLOVER/kexts/Other/._VoodooI2CHID.kext
EFI/CLOVER/kexts/Other/._VoodooI2CSynaptics.kext
EFI/CLOVER/kexts/Other/._VoodooI2CUPDDEngine.kext
EFI/CLOVER/kexts/Other/._VoodooPS2Controller.kext
EFI/CLOVER/kexts/Other/._WhateverGreen.kext
EFI/CLOVER/themes/._.DS_Store