System Volume Information/*
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.idea
*.iml

/EFI/APPLE
/EFI/Microsoft
**/._*
**/.DS_Store
Script/OpenCore-Patcher.pkg.zip
Script/OCAT_Mac.dmg
Script/HeliPort.dmg
