<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Annotations</key>
	<dict>
		<key>Creation_Predicates</key>
		<dict>
			<key>false</key>
			<integer>0</integer>
			<key>fstype.msdos</key>
			<integer>1</integer>
			<key>has.uuid</key>
			<integer>1</integer>
			<key>interconnect.pci-express</key>
			<integer>1</integer>
			<key>is.alreadyindexed</key>
			<integer>0</integer>
			<key>is.apfssnapshot</key>
			<integer>0</integer>
			<key>is.automount</key>
			<integer>0</integer>
			<key>is.backupstore</key>
			<integer>0</integer>
			<key>is.backupvolume</key>
			<integer>0</integer>
			<key>is.bootablevolume</key>
			<integer>0</integer>
			<key>is.cameramedia</key>
			<integer>0</integer>
			<key>is.diskimage</key>
			<integer>0</integer>
			<key>is.dontbrowse</key>
			<integer>0</integer>
			<key>is.ejectable</key>
			<integer>0</integer>
			<key>is.external</key>
			<integer>0</integer>
			<key>is.externalvolumes.defaultoff</key>
			<integer>0</integer>
			<key>is.externalvolumes.ignore</key>
			<integer>0</integer>
			<key>is.filevault</key>
			<integer>0</integer>
			<key>is.forcedefaultindex</key>
			<integer>0</integer>
			<key>is.forcefsonly</key>
			<integer>0</integer>
			<key>is.home</key>
			<integer>0</integer>
			<key>is.internal</key>
			<integer>1</integer>
			<key>is.ipod</key>
			<integer>0</integer>
			<key>is.local</key>
			<integer>1</integer>
			<key>is.lowdiskspace</key>
			<integer>0</integer>
			<key>is.mobilebackups</key>
			<integer>0</integer>
			<key>is.network</key>
			<integer>0</integer>
			<key>is.nonSearchableRole</key>
			<integer>0</integer>
			<key>is.quarantined</key>
			<integer>0</integer>
			<key>is.readonly</key>
			<integer>0</integer>
			<key>is.removable</key>
			<integer>0</integer>
			<key>is.rootfs</key>
			<integer>0</integer>
			<key>is.safeboot</key>
			<integer>0</integer>
			<key>is.syntheticmount</key>
			<integer>0</integer>
			<key>is.tinyvolume</key>
			<integer>0</integer>
			<key>is.windowsbootablevolume</key>
			<integer>0</integer>
			<key>is.xsan</key>
			<integer>0</integer>
			<key>policy.location.volume</key>
			<integer>1</integer>
			<key>self.appleinternal</key>
			<integer>0</integer>
			<key>self.server</key>
			<integer>0</integer>
			<key>status.neverindex</key>
			<integer>0</integer>
			<key>supports.catsearch</key>
			<integer>0</integer>
			<key>supports.fileids</key>
			<integer>0</integer>
			<key>supports.volfs</key>
			<integer>0</integer>
			<key>true</key>
			<integer>1</integer>
			<key>uuid.dafd80a7-3125-3604-a756-4b67464e5b2e</key>
			<integer>1</integer>
		</dict>
		<key>DebugKey1</key>
		<string>2019-12-06 09:15:56 +0000 3</string>
		<key>DefaultStore_EffectiveSearch</key>
		<integer>3</integer>
		<key>DefaultStore_RequestedSearch</key>
		<integer>3</integer>
	</dict>
	<key>ConfigurationCreationDate</key>
	<date>2019-12-06T09:15:56Z</date>
	<key>ConfigurationCreationVersion</key>
	<string>Version 10.14.6 (Build 18G103)</string>
	<key>ConfigurationModificationDate</key>
	<date>2019-12-06T09:15:56Z</date>
	<key>ConfigurationModificationVersion</key>
	<string>Version 10.14.6 (Build 18G103)</string>
	<key>ConfigurationVolumeUUID</key>
	<string>DAFD80A7-3125-3604-A756-4B67464E5B2E</string>
	<key>ConfigurationWriteback</key>
	<false/>
	<key>Exclusions</key>
	<array/>
	<key>Options</key>
	<dict>
		<key>ConfigurationType</key>
		<string>Default</string>
	</dict>
	<key>Stores</key>
	<dict>
		<key>A31F1415-FA7C-43E0-870B-C189917D5BB7</key>
		<dict>
			<key>CreationDate</key>
			<date>2019-12-06T09:15:56Z</date>
			<key>CreationVersion</key>
			<string>Version 10.14.6 (Build 18G103)</string>
			<key>IndexVersion</key>
			<integer>95</integer>
			<key>PartialPath</key>
			<string>/</string>
			<key>PolicyDate</key>
			<date>2019-12-06T09:15:56Z</date>
			<key>PolicyLevel</key>
			<string>kMDConfigSearchLevelReadWrite</string>
			<key>PolicyProcess</key>
			<string>STORE_ADD</string>
			<key>PolicyVersion</key>
			<string>Version 10.14.6 (Build 18G103)</string>
		</dict>
	</dict>
</dict>
</plist>
